# Bethesda Modding
# =========================
*.sublime-workspace
*.pex
*.swf
*.wav
*.nif
*.hkx
*.dds
*.bgsm
*.bgem

# Windows
# =========================
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.exe
*.cab
*.msi
*.msm
*.msp
*.lnk
